<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="flex flex-col gap-6 w-full sm:w-auto"
>
  <div class="flex sm:flex-row sm:items-center gap-6">
    <p-fileupload
      class="w-full"
      [multiple]="true"
      chooseLabel="Вибрати"
      uploadLabel="Завантажити"
      (onSelect)="onFileSelect($event)"
      chooseIcon="pi pi-upload"
      accept="image/*"
      maxFileSize="1000000"
    >
      <ng-template
        #header
        let-files
        let-chooseCallback="chooseCallback"
        let-clearCallback="clearCallback"
        let-uploadCallback="uploadCallback"
      >
        <div class="flex flex-wrap justify-between items-center flex-1 gap-4">
          <div class="flex gap-2">
            <p-button
              (onClick)="choose($event, chooseCallback)"
              icon="pi pi-images"
              [rounded]="true"
              [outlined]="true"
            />
            <!-- <p-button
              (onClick)="clearCallback()"
              icon="pi pi-times"
              [rounded]="true"
              [outlined]="true"
              severity="danger"
              [disabled]="!files || files.length === 0"
            /> -->
          </div>
        </div>
      </ng-template>
      <ng-template
        #content
        let-files
        let-uploadedFiles="uploadedFiles"
        let-removeFileCallback="removeFileCallback"
        let-removeUploadedFileCallback="removeUploadedFileCallback"
      >
        <div class="flex flex-col gap-8 pt-4">
          @if (files?.length > 0) {
            <h5>Pending</h5>
            <div class="flex flex-wrap gap-4">
              @for (file of files; track file; let index = $index) {
                <div
                  class="p-8 rounded-border flex flex-col border border-surface items-center gap-4"
                >
                  <div>
                    <img
                      role="presentation"
                      [alt]="file.name"
                      [src]="file.objectURL"
                      width="100"
                      height="50"
                    />
                  </div>
                  <span
                    class="font-semibold text-ellipsis max-w-60 whitespace-nowrap overflow-hidden"
                  >
                    {{ file.name }}
                  </span>

                  <p-button
                    icon="pi pi-times"
                    (click)="
                      onRemoveTemplatingFile(
                        $event,
                        file,
                        removeFileCallback,
                        index
                      )
                    "
                    [outlined]="true"
                    [rounded]="true"
                    severity="danger"
                  />
                </div>
              }
            </div>
          }
          @if (uploadedFiles?.length > 0) {
            <h5>Completed</h5>
            <div class="flex flex-wrap gap-4">
              @for (file of uploadedFiles; track file) {
                <div
                  class="card m-0 px-12 flex flex-col border border-surface items-center gap-4"
                >
                  <div>
                    <img
                      role="presentation"
                      [alt]="file.name"
                      [src]="file.objectURL"
                      width="100"
                      height="50"
                    />
                  </div>
                  <span
                    class="font-semibold text-ellipsis max-w-60 whitespace-nowrap overflow-hidden"
                    >{{ file.name }}</span
                  >
                  <p-button
                    icon="pi pi-times"
                    [outlined]="true"
                    [rounded]="true"
                    severity="danger"
                  />
                </div>
              }
            </div>
          }
        </div>
      </ng-template>
      <ng-template #file></ng-template>
      <ng-template #empty>
        <div class="flex items-center justify-center flex-col">
          <i
            class="pi pi-cloud-upload !border-2 !rounded-full !p-8 !text-4xl !text-muted-color"
          ></i>
        </div>
      </ng-template>
    </p-fileupload>
  </div>
  <div class="flex flex-col sm:flex-row sm:items-center gap-6">
    <div class="flex-3">
      <label for="name" class="block font-semibold mb-2">Назва</label>
      <input
        pInputText
        formControlName="name"
        type="text"
        id="name"
        class="w-full"
      />
    </div>
    <div class="flex-1">
      <label for="price" class="block font-semibold mb-2">Ціна</label>
      <p-inputnumber
        fluid
        formControlName="price"
        inputId="price"
        mode="currency"
        currency="UAH"
        locale="uk"
      />
    </div>
  </div>
  <div class="flex-auto">
    <label for="description" class="block font-semibold mb-2">Опис</label>
    <textarea
      fluid
      pTextarea
      formControlName="description"
      id="description"
      class="w-full"
      rows="4"
    ></textarea>
  </div>
  <div class="flex flex-row gap-3">
    <p-checkbox
      formControlName="published"
      inputId="published"
      [binary]="true"
    />
    <label for="published" class="ml-1">Опублікувати</label>
  </div>
  <div class="flex justify-end gap-4">
    <a
      pButton
      [routerLink]="[localeService.getLocale(), 'admin', 'dashboard']"
      severity="secondary"
      type="button"
    >
      Відмінити
    </a>
    <button pButton type="submit" [disabled]="store.isSaving()">
      Зберегти
    </button>
  </div>
</form>
