<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="flex flex-col gap-6 w-full sm:w-auto"
>
  <div class="flex sm:flex-row sm:items-center gap-6">
    <p-fileupload
      mode="basic"
      chooseLabel="Вибрати"
      chooseIcon="pi pi-upload"
      name="demo[]"
      accept="image/*"
      maxFileSize="1000000"
    />
  </div>
  <div class="flex flex-col sm:flex-row sm:items-center gap-6">
    <div class="flex-3">
      <label for="name" class="block font-semibold mb-2">Назва</label>
      <input
        pInputText
        formControlName="name"
        type="text"
        id="name"
        class="w-full"
      />
    </div>
    <div class="flex-1">
      <label for="price" class="block font-semibold mb-2">Ціна</label>
      <p-inputnumber
        fluid
        formControlName="price"
        inputId="price"
        mode="currency"
        currency="UAH"
        locale="uk"
      />
    </div>
  </div>
  <div class="flex-auto">
    <label for="description" class="block font-semibold mb-2">Опис</label>
    <textarea
      fluid
      pTextarea
      formControlName="description"
      id="description"
      class="w-full"
      rows="4"
    ></textarea>
  </div>
  <div class="flex flex-row gap-3">
    <p-checkbox
      formControlName="published"
      inputId="published"
      [binary]="true"
    />
    <label for="published" class="ml-1">Опублікувати</label>
  </div>
  <div class="flex justify-end gap-4">
    <a
      pButton
      [routerLink]="[localeService.getLocale(), 'admin', 'dashboard']"
      severity="secondary"
      type="button"
    >
      Відмінити
    </a>
    <button pButton type="submit">Зберегти</button>
  </div>
</form>
