<div class="flex justify-between gap-4">
  <div class="flex-0">
    @if (store.currentUser()) {
      @if (isAdminPage()) {
        <div class="flex gap-4">
          <button pButton size="large" [routerLink]="['/']" type="button">
            Головна
          </button>
        </div>
      } @else {
        <button
          pButton
          size="large"
          [routerLink]="[adminPanelLink]"
          type="button"
        >
          Адмінка
        </button>
      }
    }
  </div>

  <div class="flex-auto max-w-md">
    @if (showFilters()) {
      <filter-bar />
    }
  </div>

  <div class="flex-0">
    @if (!store.currentUser()) {
      <button pButton size="large" [routerLink]="[signInLink]" type="button">
        Увійти
      </button>
    } @else {
      <button
        pButton
        size="large"
        (click)="onSignOut()"
        type="button"
        [outlined]="true"
      >
        Вийти
      </button>
    }
  </div>
</div>
