<div class="sm:container mx-auto px-4">
  <div class="my-4">
    <app-bar [showFilters]="false" [isAdminPage]="true" />
  </div>
  <p-table
    [value]="store.tomatoes()"
    [loading]="store.tomatoesLoading()"
    [paginator]="true"
    [rows]="100"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template #header>
      <tr>
        <th>Картинки</th>
        <th>Назва</th>
        <th>Ціна</th>
        <th>Опис</th>
      </tr>
    </ng-template>
    <ng-template #body let-tomato>
      <tr>
        <td>
          @if (tomato.primaryImage) {
            <a [routerLink]="getTomatoEditLink(tomato.documentId)">
              <img
                [src]="tomato.primaryImage.url"
                [alt]="tomato.name"
                class="w-24 rounded"
              />
            </a>
          }
        </td>
        <td>
          <a [routerLink]="getTomatoEditLink(tomato.documentId)">{{
            tomato.name
          }}</a>
        </td>
        <td>{{ tomato.price }}</td>
        <td>{{ tomato.description }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
